@model IEnumerable<TravelManagementSystem.Models.SalesTable>

<div class="container-fluid p-3 mt-lg-3 content" id="mainContent">
    <div class="row">
        <div class="col-9">
            <h3 class="text-primary">Sales List</h3>
        </div>
        <div class="col-3 text-end padding-right">
            <a asp-action="Create" asp-controller="SalesTables" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create Sale
            </a>
        </div>
        <hr />
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Agent</th>
                    <th>Customer</th>
                    <th>Company</th>
                    <th>Trade</th>
                    <th>SubTrade</th>
                    <th>Flight On</th>
                    <th>Destination</th>
                    <th>Country</th>
                    <th>Credit</th>
                    <th>Debit</th>
                    <th>Balance</th>
                    <th>Created By</th>
                    <th>Created At</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sale in Model)
                {
                    <tr>
                        <td>@sale.Agent?.Name</td>
                        <td>@sale.Customer?.Name</td>
                        <td>@sale.Company</td>
                        <td>@sale.Trade</td>
                        <td>@sale.SubTrade</td>
                        <td>@sale.FlightOn.ToString("dd-MM-yyyy")</td>
                        <td>@sale.Destination</td>
                        <td>@sale.Country</td>
                        <td>@sale.Credit.ToString("N2")</td>
                        <td>@sale.Debit.ToString("N2")</td>
                        <td>@sale.Balance?.ToString("N2")</td>

                        <td>@sale.CreatedBy</td>
                        <td>@sale.CreatedAt?.ToString("dd-MM-yyyy HH:mm")</td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@sale.Id"><i class="fas fa-pen-to-square text-primary"></i></a> |
                            <a asp-action="Details" asp-route-id="@sale.Id"><i class="fas fa-eye text-success"></i></a> |
                            <a asp-action="Delete" asp-route-id="@sale.Id"><i class="fas fa-trash-alt text-danger"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
