@model TravelManagementSystem.ViewModel.SalesLineCreateViewModel


<form class="border shadow col-lg-12" asp-action="CreateLine" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="CustomerId" />

    <div class="card shadow col-lg-12">
        <div class="card-body text-center bg-theme-color">
            <h4 class="text-light ">Add Lines</h4>
            <div class="d-flex justify-content-center gap-3 mt-3">
            </div>
        </div>
    </div>
    <div class="card shadow p-3">
        <div class="row mt-2">
            <div class="col-lg-6">
                <label asp-for="CustName" class="form-label"></label>
                <input type="text" class="form-control" asp-for="CustName" readonly />
            </div>

            <div class="col-lg-6">
                <label asp-for="PhoneNo" class="form-label"></label>
                <input type="text" class="form-control" asp-for="PhoneNo" readonly />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6">
                <label asp-for="OfficeAddress" class="form-label"></label>
                <input type="text" class="form-control" asp-for="OfficeAddress" readonly />
            </div>
            <div class="col-lg-6">
                <label asp-for="AgentId" class="form-label">Agent</label>
                <select asp-for="AgentId" class="form-select" asp-items="Model.Agents">
                    <option value="">Select Agent</option>
                </select>
                <span asp-validation-for="AgentId" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6">
                <label asp-for="Country" class="form-label"></label>
                <select class="form-select" asp-for="Country">
                    <option value="">Select Country</option>
                    @foreach (var country in Enum.GetValues(typeof(CountryEnum)))
                    {
                        <option value="@country">@country</option>
                    }
                </select>
            </div>
            <div class="col-lg-6">
                <label asp-for="Company" class="form-label"></label>
                <input type="text" class="form-control" asp-for="Company" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6">
                <label asp-for="Trade" class="form-label"></label>
                <select class="form-select" asp-for="Trade">
                    <option value="">Select Trade</option>
                    @foreach (var trade in Enum.GetValues(typeof(Trade)))
                    {
                        <option value="@trade">@trade</option>
                    }
                </select>
            </div>

            <div class="col-lg-6">
                <label asp-for="SubTrade" class="form-label"></label>
                <input type="text" class="form-control" asp-for="SubTrade" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6">
                <label asp-for="FlightOn" class="form-label"></label>
                <input type="date" class="form-control" asp-for="FlightOn"/>
            </div>

            <div class="col-lg-6">
                <label asp-for="Destination" class="form-label"></label>
                <input type="text" class="form-control" asp-for="Destination" />
            </div>
        </div>
        <div class="row mt-2">


            <div class="col-lg-6">
                <label asp-for="Debit" class="form-label"></label>
                <input type="number" class="form-control" asp-for="Debit" />
            </div>
            <div class="col-lg-6">
                <label asp-for="Credit" class="form-label"></label>
                <input type="number" class="form-control" asp-for="Credit" />
            </div>
        </div>
        <div class="form-group mt-3">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-action="HeaderAndLine" asp-controller="Customers" asp-route-id="@Model.CustomerId" class="btn btn-secondary">Cancel</a>
        </div>
    </div>

</form>
