@model TravelManagementSystem.Models.PurchTable

@{
    ViewData["Title"] = "Purch Details";
}

<div class=" border col-lg-10 offset-1">
    <!-- Card Header -->
    <div class="card shadow">
        <div class="card-body text-center bg-theme-color">
            <h4 class="text-light">Purchase Details</h4>
        </div>
    </div>

    <div class="card shadow">
        <dl class="row p-3">
            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Company)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Company)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Trade)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Trade)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.SubTrade)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.SubTrade)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.FlightOn)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.FlightOn)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Destination)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Destination)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Country)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Country)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Credit)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Credit)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Debit)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Debit)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Balance)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Balance)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CreatedBy)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.CreatedBy)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CreatedOn)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.CreatedOn)</dd>

            <!-- Action Buttons Section -->
            <div class="text-center d-flex gap-3 mt-3">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>

        </dl>
    </div>

</div>
