@model IEnumerable<TravelManagementSystem.Models.PurchTable>

<div class="container-fluid p-3 mt-lg-3 content" id="mainContent">
    <div class="row">
        <div class="col-9">
            <h3 class="text-primary">Sales List</h3>
        </div>
        <div class="col-3 text-end padding-right">
            <a asp-action="Create" asp-controller="SalesTables" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create Sale
            </a>
        </div>
        <hr />
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Agent</th>
                    <th>Customer</th>
                    <th>Company</th>
                    <th>Trade</th>
                    <th>SubTrade</th>
                    <th>Flight On</th>
                    <th>Destination</th>
                    <th>Country</th>
                    <th>Credit</th>
                    <th>Debit</th>
                    <th>Balance</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Agent?.Name</td>
                        <td>@item.Customer?.Name</td>
                        <td>@item.Company</td>
                        <td>@item.Trade</td>
                        <td>@item.SubTrade</td>
                        <td>@item.FlightOn.ToString("dd-MM-yyyy")</td>
                        <td>@item.Destination</td>
                        <td>@item.Country</td>
                        <td>@item.Credit.ToString("N2")</td>
                        <td>@item.Debit.ToString("N2")</td>
                        <td>@item.Balance?.ToString("N2")</td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pen-to-square text-primary"></i></a> |
                            <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-eye text-success"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt text-danger"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
